@import "./grid.css";
/*
  Modular scale:
  http://www.modularscale.com/?1,1.5&em&1.25
 
  1:1.25

  55.51em
  44.408em
  35.527em
  28.422em
  22.737em
  18.19em
  14.552em
  11.642em
  9.313em
  7.451em
  5.96em
  4.768em
  3.815em
  3.052em
  2.441em
  1.953em
  1.563em
  1.25em
  1em
  0.8em
  0.64em
  0.512em
  0.41em
  0.328em
  0.262em
*/

/*
 * Fonts
 */

@font-face {
  font-family: "TiemposText";
  src: url("/static/fonts/TiemposTextWeb-Regular.woff2") format("woff2"),
       url("/static/fonts/TiemposTextWeb-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "TiemposText";
  src: url("/static/fonts/TiemposTextWeb-RegularItalic.woff2") format("woff2"),
       url("/static/fonts/TiemposTextWeb-RegularItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "TiemposHeadline";
  src: url("/static/fonts/TiemposHeadlineWeb-Semibold.woff2") format("woff2"),
       url("/static/fonts/TiemposHeadlineWeb-Semibold.woff") format("woff");
  font-weight: 800;
}

@font-face {
  font-family: "Pitch";
  src: url("/static/fonts/PitchWeb-Regular.woff2") format("woff2"),
       url("/static/fonts/PitchWeb-Regular.woff") format("woff");
  font-weight: 400;
}

/*
 * Base
 */

* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  line-height: 1.563em;
}

body {
  background-color: #fdfdfd;
  color: #333;
  font-family: "TiemposText", serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222;
  font-family: "TiemposHeadline", serif;
  font-weight: 800;
}

a,
a:active,
a:visited {
  color: #333;
  text-decoration: underline;
}

code, 
pre {
  font-family: "Pitch", monospace;
  font-size: 1rem;
  line-height: 1.25rem;
}

pre {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

/*
 * Layout
 */

.container {
  margin: 0 auto;
  max-width: calc(44.408rem + 2rem);
  padding: 1.563rem 1rem;
}

/*
 * Utility
 */

@media only screen and (max-width: 40.063rem) {
  .small-hide {
    height: 0px;
    opacity: 0;
    position: absolute;
    visibility: hidden;
    width: 0px;
  }
}

@media only screen and (min-width: 40.064rem) and (max-width: 64.063rem) {
  .medium-hide {
    height: 0px;
    opacity: 0;
    position: absolute;
    visibility: hidden;
    width: 0px;
  }
}

@media only screen and (min-width: 64.064rem) {
  .large-hide {
    height: 0px;
    opacity: 0;
    position: absolute;
    visibility: hidden;
    width: 0px;
  }
}

/*
 * Post
 */

.post {
  max-width: 100%;
}

.post-header {
  margin: 0 0 1.563rem;
}

.post-title {
  border-bottom: 1px solid #dfe2e5;
  font-family: "TiemposHeadline", serif;
  font-size: 1.25rem;
  font-weight: 800;
  line-height: 1.25em;
  margin: 0 0 0.8rem;
  padding: 0 0 0.492rem;
}

.post-date {
  font-family: "TiemposText", serif;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1em;
  margin: 0;
}

.post-body h1, 
.post-body h2, 
.post-body h3, 
.post-body h4, 
.post-body h5, 
.post-body h6 {
  border-bottom: 1px solid #dfe2e5;
  font-family: "TiemposHeadline", serif;
  font-weight: 800;
  margin: 0 0 1rem;
  padding: 0 0 0.492rem;
}

.post-body h1 {
  font-size: 1.25rem;
  line-height: 1.25em;
}

.post-body h2, 
.post-body h3, 
.post-body h4, 
.post-body h5, 
.post-body h6 {
  font-size: 1rem;
  line-height: 1.25em;
}

.post-body p {
  font-family: "TiemposText", serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.563em;
  margin: 0 0 1.563rem;
}

.post-body em {
  font-family: "TiemposText", serif;
  font-style: italic;
  font-weight: 400;
}

.post-body sup {
  font-size: 0.8rem;
  line-height: 1;
}

.post-body pre {
  border: 1px solid #999;
  margin: 0 0 1.563rem;
  overflow-x: scroll;
  padding: 0.512em 0.64rem;
}

.post-body blockquote {
  color: #333;
  border-left: 0.262rem solid #dfe2e5;
  font-family: "TiemposText", serif;
  font-weight: 400;
  margin: 0 0 1.563rem;
  padding: 0 0 0 1rem
}

.post-body figure {
  margin: 0 0 1.563rem;
}

.post-body img {
  margin: 0 auto;
}

.post-footer {
  border-top: 1px solid #dfe2e5;
  font-family: "TiemposText", serif;
  font-size: 0.8rem;
  font-weight: 400;
  padding: 1rem 0 0 0;
}

/*
 * Site Header
 */

.header {
  padding: 0 0 0.512rem;
}

.header-title {
  font-family: "TiemposHeadline", serif;
  font-size: 1.25rem;
  font-weight: 800;
  line-height: 1;
  margin: 0;
  padding: 0;
}

.header-nav {
  display: block;
  font-family: "TiemposText", serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 0;
  padding: 0;
}

/*
 * Syntax Highlighting
 */

.highlight {
  margin-left: 0;
  margin-right: 0;
}

.highlight pre {
  border: none;
  margin: 0;
  overflow: auto;
  padding: 0;
}

.highlight code {
  border: 1px solid #999;
  color: #222;
  display: block;
  font-family: "Pitch", monospace;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.25rem;
  max-width: 100%;
  overflow-x: scroll;
  padding: 0.512em 0.64rem;
  width: 100%;
}

/*
 * Content List
 */

.content-list {
  font-family: "TiemposText", serif;
  font-weight: 400;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.content-list__item {
  align-items: center;
  display: flex;
  font-size: 1rem;
  line-height: 1.25em;
  flex-wrap: wrap;
  margin: 0 0 1.25rem;
}

.content-list__title-group {
  line-height: 1em;
  margin: 0 0 0.328rem;
}

.content-list__title {
  color: #222;
  margin: 0 0 0.328rem;
  order: 1;
  width: 100%;
}

.content-list__description {
  display: block;
  order: 2;
  width: 100%;
}

/*
 * Section
 */

.section {
  margin: 0 0 1.563rem;
  padding: 0;
}

.section__title {
  border-bottom: 1px solid #dfe2e5;
  font-family: "TiemposHeadline", serif;
  font-size: 1.25rem;
  font-weight: 800;
  line-height: 1.25em;
  margin: 0 0 1.25rem;
  padding: 0 0 0.492rem;
}

@media only screen and (min-width: 40.063rem) {
  .post-title {
    font-size: 1.563rem;
    line-height: 1.25em;
    margin: 0 0 0.8rem;
  }

  .section__title {
    font-size: 1.563rem;
    line-height: 1.25em;
  }
}

@media only screen and (min-width: 64.063rem) {
  .header {
    padding: 0 0 0.8rem;
  }

  .post-header {
    margin: 0 0 1.953rem;
  }

  .post-title {
    font-size: 1.563rem;
    line-height: 1.25em;
    margin: 0 0 0.8rem;
  }

  .post-date {
    font-size: 1rem;
  }

  .post-body h1,
  .post-body h2,
  .post-body h3,
  .post-body h4,
  .post-body h5,
  .post-body h6 {
    margin: 0 0 1.25rem;
  }

  .post-body h1 {
    font-size: 1.563rem;
    line-height: 1.25em;
    margin-top: 2.441rem;
  }

  .post-body h2 {
    font-size: 1.25rem;
    line-height: 1.25em;
    margin-top: 2.441rem;
  }

  .post-body h3,
  .post-body h4,
  .post-body h5,
  .post-body h6 {
    font-size: 1rem;
    line-height: 1.25em;
    margin-top: 1.953rem;
  }

  .post-body ol,
  .post-body ul,
  .post-body p,
  .post-body blockquote {
    font-size: 1.25rem;
    line-height: 1.563em;
  }

  .post-body code,
  .post-body pre {
    font-size: 1rem;
    line-height: 1.25em;
  }

  .post-body p code {
    color: #222;
    font-size: 1.25rem;
    line-height: 1.563em;
  }

  .content-list__description {
    margin: 0;
    width: auto;
  }

  .content-list__title {
    margin: 0;
    order: 2;
    width: auto;
  }

  .content-list__title-group {
    margin: 0;
  }

  .section {
    margin: 0 0 2.441rem;
  }

  .highlight code {
    color: #222;
    font-size: 0.8rem;
    font-size: 1rem;
  }
}

#observables-explorable-1 {
  margin: 0 0 1.563rem;
}
