/*
  Modular scale:
  http://www.modularscale.com/?1,1.5&em&1.25
 
  1:1.25

  55.51em
  44.408em
  35.527em
  28.422em
  22.737em
  18.19em
  14.552em
  11.642em
  9.313em
  7.451em
  5.96em
  4.768em
  3.815em
  3.052em
  2.441em
  1.953em
  1.563em
  1.25em
  1em
  0.8em
  0.64em
  0.512em
  0.41em
  0.328em
  0.262em

  1.5:1.25

  53.291em
  42.633em
  34.106em
  27.285em
  21.828em
  17.462em
  13.97em
  11.176em
  8.941em
  7.153em
  5.722em
  4.578em
  3.662em
  2.93em
  2.344em
  1.875em
  1.5em
  1.2em
  0.96em
  0.768em
  0.614em
  0.492em
  0.393em
*/

* {
  box-sizing: border-box;
}

body {
  color: #222;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
}

code, 
pre,
.highlight {
  background: #f6f8fa;
  font-family: Menlo, monospace;
  font-size: 0.8rem;
}

.highlight {
  margin-left: 0;
  margin-right: 0;
}

pre.highlight {
  padding: 1rem;
}

.post {
  margin: 0 auto;
  max-width: 55.51rem;
  padding: 1.953rem;
}

.post h1, 
.post h2, 
.post h3, 
.post h4, 
.post h5, 
.post h6 {
  border-bottom: 1px solid #eee;
  line-height: 1.2em;
  margin: 0 0 1rem;
  padding: 0 0 0.492rem;
}

.post h1 {
  font-size: 1.563rem;
}

.post h2 {
  font-size: 1.25rem;
}

.post h3 {
  font-size: 1.2rem;
}

.post p {
  line-height: 1.5em;
  margin: 0 0 1.5rem;
}

.post blockquote {
  color:#6a737d;
  border-left: 0.262rem solid #dfe2e5;
  margin: 0 0 1.5rem;
  padding: 0 0 0 1rem
}

